.venv
./checkpoints/
./assets/
./output/
./depth_anything_v2/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env/
ENV/
*.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Editor specific (VS Code, PyCharm)
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
